.wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .section-7 {
        border: 1px tomato solid;
        width: 5rem;
        height: 10rem;
    }
}

.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    margin: 1rem 0rem;
    background: tomato;
    height: 10rem;
}

.play-button,
.favorite-button,
.complicated-button {
  display: block;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}
.play-button
{
  background: url(../../img/play-button.svg);
}
.favorite-button
{
  background: url(../../img/favorite-button.svg);
}
.complicated-button
{
  background: url(../../img/complicated-button.svg);
}