.form-wrapper {
  background: $button-color;
  color: $text-color;
  border-radius: 10%;
  height: 300px;
  width: 300px;
  padding: 0 40px;
  position: absolute;
  top: -5px;
  right: 50%;
  transform: translate(50%, 0);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  &__title {
    font-size: 22px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__input {
    width: 150px;
    padding: 5px;
  }
  &__button {
    color: $text-color;
    background: transparent;
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      border: none;
      background: $hover-button-color;
    }
  }
}
