<form id="registration" class="autorization-form">
  <h3 class="form-title">Привет!</h3>
  <div class="flex-container">
    <label for="userName">Имя: </label>
    <input class="input-text" type="text" id="userName" />
  </div>
  <div class="flex-container">
    <label for="userEmail">E-mail: </label>
    <input class="input-text" type="email" id="userEmail" />
  </div>
  <div class="flex-container">
    <label for="userPassword">Пароль: </label>
    <input
      class="input-text"
      type="password"
      id="userPassword"
      autocomplete="on"
    />
  </div>
  <div class="flex-container">
    <button type="button" id="openSignIn" class="button">Войти</button>
    <input class="button" id="registration" type="submit" value="Регистрация" />
  </div>
</form>
