<form class="form" id="registration">
  <h3 class="form__title">Привет!</h3>
  <div class="form__container">
    <label class="form__label" for="userName">Имя: </label>
    <input class="form__input" type="text" id="userName" />
  </div>
  <div class="form__container">
    <label class="form__label" for="userEmail">E-mail: </label>
    <input class="form__input" type="email" id="userEmail" />
  </div>
  <div class="form__container">
    <label class="form__label" for="userPassword">Пароль: </label>
    <input
      class="form__input"
      type="password"
      id="userPassword"
      autocomplete="on"
    />
  </div>
  <div class="form__container">
    <input class="form__button" id="openSignIn" type="button" value="Войти" />
    <input
      class="form__button"
      id="registration"
      type="submit"
      value="Регистрация"
    />
  </div>
</form>
