<form class="form" id="signIn">
  <h3 class="form__title">Привет!</h3>
  <div class="form__container">
    <label class="form__label" for="userEmail">E-mail: </label>
    <input class="form__input" id="userEmail" type="email" />
  </div>
  <div class="form__container">
    <label class="form__label" for="userPassword">Пароль: </label>
    <input
      class="form__input"
      id="userPassword"
      type="password"
      autocomplete="on"
    />
  </div>
  <div class="form__container">
    <input class="form__button" id="signIn" type="submit" value="Войти" />
    <input
      class="form__button"
      id="openRegistration"
      type="button"
      value="Регистрация"
    />
  </div>
</form>
