<form id="signIn" class="autorization-form">
  <h3 class="form-title">Привет!</h3>
  <div class="flex-container">
    <label for="userEmail">E-mail: </label>
    <input class="input-text" type="email" id="userEmail" />
  </div>
  <div class="flex-container">
    <label for="userPassword">Пароль: </label>
    <input
      class="input-text"
      type="password"
      id="userPassword"
      autocomplete="on"
    />
  </div>
  <div class="flex-container">
    <input class="button id="signIn" button-submit" type="submit" value="Войти"
    />
    <button type="button" id="openRegistration" class="button">
      Регистрация
    </button>
  </div>
</form>
