<h2 class="statistics__tittle">Статистика за день</h2>
<div class="statistics__container">
  <div class="statistics__card">
    <div class="statistics__card_bold statistics__learned">17</div>
    <div class="statistics__card_normal">Слов изучено</div>
  </div>
  <div class="statistics__card">
    <div class="statistics__card_bold c">35%</div>
    <div class="statistics__card_normal">Правильных ответов</div>
  </div>
</div>
<div class="statistics__container">
  <div class="statistics-game">
    <h3 class="statistics-game__tittle">Аудиовызов</h3>
    <ul class="statistics-game__wrapper">
      <li><span class="statistics-game__audiocall_new">17</span> новых слов.
      </li>
      <li>
        Правильных ответов:
        <span class="statistics-game__audiocall_right">17</span>%.
      </li>
      <li>
        Самая длинная серия правильных ответов:
        <span class="statistics-game__audiocall_inRow">0</span>.
      </li>
    </ul>
  </div>
  <div class="statistics-game">
    <h3 class="statistics-game__tittle">Спринт</h3>
    <ul class="statistics-game__wrapper">
      <li><span class="statistics-game__sprint_new">17</span> новых слов.
      </li>
      <li>
        Правильных ответов:
        <span class="statistics-game__sprint_right">17</span>%.
      </li>
      <li>
        Самая длинная серия правильных ответов:
        <span class="statistics-game__sprint_inRow">0</span>.
      </li>
    </ul>
  </div>
</div>
