<h2 class="statistics__tittle">Здравствуйте, <span class="statistics__name"></span>, вот ваша статистика за день!</h2>
<div class="statistics__container">
  <div class="statistics__card">
    <div class="statistics__card_bold statistics__learned"></div>
    <div class="statistics__card_normal">Слов изучено</div>
  </div>
  <div class="statistics__card">
    <div class="statistics__card_bold statistics__right"></div>
    <div class="statistics__card_normal">Правильных ответов</div>
  </div>
</div>
<div class="statistics__container">
  <div class="statistics-game">
    <h3 class="statistics-game__tittle">Аудиовызов</h3>
    <ul class="statistics-game__wrapper">
      <li><span class="statistics-game__audiocall_new"></span> новых слов.
      </li>
      <li>
        Правильных ответов:
        <span class="statistics-game__audiocall_right"></span>%.
      </li>
      <li>
        Самая длинная серия правильных ответов:
        <span class="statistics-game__audiocall_inRow"></span>.
      </li>
    </ul>
  </div>
  <div class="statistics-game">
    <h3 class="statistics-game__tittle">Спринт</h3>
    <ul class="statistics-game__wrapper">
      <li><span class="statistics-game__sprint_new"></span> новых слов.
      </li>
      <li>
        Правильных ответов:
        <span class="statistics-game__sprint_right"></span>%.
      </li>
      <li>
        Самая длинная серия правильных ответов:
        <span class="statistics-game__sprint_inRow"></span>.
      </li>
    </ul>
  </div>
</div>
