<header class="header">
  <h2 class="logo">RSLearn</h2>
  <nav class="nav">
    <div class="nav__link nav__link_main nav__link_active">Главная</div>
    <div class="nav__link nav__link_book">Электронный учебник</div>
    <div class="nav__link nav__link_game">
      <div>Мини-игры</div>
      <ul class="game-list">
        <li class="game-list__item game-list__item_sprint">Спринт</li>
        <li class="game-list__item game-list__item_audiocall">Аудиовызов</li>
      </ul>
    </div>
    <div class="nav__link nav__link_statistics">Статистика</div>
  </nav>
  <div class="signin-wrapper">
    <button class="signin">Войти</button>
    <button class="signout signin-hide">Выйти</button>
  </div>
</header>
<main class="main">
  <div class="home">
    <p class="home__text">
      Приложение RSLang - это простой и удобный способ изумения английского
      языка. 3600 часто употребляемых слов собраны в нашем учебнике! Играйте в
      мини-игры и запоминайте их.
    </p>
  </div>
</main>
<footer class="footer">
  <a class="footer__link footer__rss" href="https://rs.school/js/">RSS</a>
  <div>
    App developers:
    <a class="footer__link" href="https://github.com/jnorwill"> jnorwill</a>
    and
    <a class="footer__link" href="https://github.com/SavelyevNikita"
      >SavelyevNikita</a
    >
  </div>
  <span class="footer__year">2022</span>
</footer>
