.header{
  width: 100%;
  // height: 100%;
  border: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  .main-button,
  .book-button,
  .game-button,
  .statistic-button{
    cursor: pointer;
    width: 10rem;
    height: 1rem;
    border: 1px solid tomato;
  }
}
.main{
  width: 100%;
  height: 10rem;
  border: 1px solid tomato;
}
.footer{
  width: 100%;
  height: 1rem;
  border: 1px solid tomato;
}