<h2 class="category__tittle"></h2>
<p class="category__text">
</p>
<ul class="category-list">
  <li><button data-lvl="1" class="category__item category__item_1">A1</button></li>
  <li><button data-lvl="2" class="category__item category__item_2">A2</button></li>
  <li><button data-lvl="3" class="category__item category__item_3">B1</button></li>
  <li><button data-lvl="4" class="category__item category__item_4">B2</button></li>
  <li><button data-lvl="5" class="category__item category__item_5">C1</button></li>
  <li><button data-lvl="6" class="category__item category__item_6">C2</button></li>
</ul>
